<!DOCTYPE html>
<html lang="en">
<head>
  <title>wellupwebpage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="../style/style.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <header>
  <h2>Well_Up Engineers</h2>
  <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="courses.html">Courses</a></li>
    <li><a href="about.html">About</a></li>
    <li><a href="contact.html">Contact</a></li>

    <li style="float: right; padding-right: 30px;margin-top: 0px;padding-top: 0px;"><a href="contact.html"><i class="fa fa-facebook-f"></i> </a></li>
    <li style="float: right; padding-right: 5px;margin-top: 0px;padding-top: 0px;"><a href="contact.html"><i class="fa fa-instagram"></i> </a></li>
    <li style="float: right; padding-right: 5px;margin-top: 0px;padding-top: 0px;"><a href="contact.html"><i class="fa fa-linkedin"></i> </a></li>
    <li style="float: right; padding-right: 5px;margin-top: 0px;padding-top: 0px;"><a href="contact.html"><i class="fa fa-twitter"></i> </a></li>

  </ul>

</header>
<!--About First section Stert HTML-->
<section class="about_section01">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6" id="this_first_col">
        <h2>We are Passionate About Building Tools for the Classroom</h2><br>
        <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie, velit ut eleifend sollicitudin, neque orci tempor nulla, id sagittis nisi ante nec arcu.</p>
        <button>Start Free Trial</button>
      </div>
      <div class="col-12 col-sm-12 col-md-6" id="this_secend_col">
        <video></video>
      </div>
    </div>
  </div>
</section>
<!--About First section End HTML-->
<!--About section02 Stert HTML-->
<section class="about_section02">
  <div class="container-fluid">
    <div class="row pb-5">
      <div class="col-12 col-sm-12 col-md-6 pr-5" id="this_first_col">
       <img src="../img/about_icon_001.jpg">
       <h2>Individual Online Learning</h2>
       <hr><br>
       <h3>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos </h3><br>
       <p>Himenaeos. Sed molestie, velit ut eleifend sollicitudin, neque orci tempor nulla, id sagittis nisi ante nec arcu. Fusce porta bibendum convallis. Morbi fringilla sollicitudin scelerisque.</p>
      </div>
      <div class="col-12 col-sm-12 col-md-6 pl-5" id="this_secend_col">
       <img src="../img/about_isometric_02.png">
      </div>
    </div>

    <div class="row pb-5">
      <div class="col-12 col-sm-12 col-md-6 pr-5" id="this_secend_col">
       <img src="../img/about-isometric-03.png">
      </div>
      <div class="col-12 col-sm-12 col-md-6 pl-5" id="this_first_col">
       <img src="../img/about_icon_001.jpg">
       <h2>Classrooom Lessons</h2>
       <hr><br>
       <h3>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos </h3><br>
       <p>Himenaeos. Sed molestie, velit ut eleifend sollicitudin, neque orci tempor nulla, id sagittis nisi ante nec arcu. Fusce porta bibendum convallis. Morbi fringilla sollicitudin scelerisque.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 pr-5" id="this_first_col">
       <img src="../img/about_icon_001.jpg">
       <h2>Coding Camps</h2>
       <hr><br>
       <h3>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos </h3><br>
       <p>Himenaeos. Sed molestie, velit ut eleifend sollicitudin, neque orci tempor nulla, id sagittis nisi ante nec arcu. Fusce porta bibendum convallis. Morbi fringilla sollicitudin scelerisque.</p>
      </div>
      <div class="col-12 col-sm-12 col-md-6 pl-5" id="this_secend_col">
       <img src="../img/about-isometric-04.png">
      </div>
    </div>
  </div>
</section>
<!--About section02 End HTML about-isometric-03.png-->

 <!--Therd section Stert HTML-->
<section class="about_section04">
  <div class="container-fluid">
    <div class="row">

      <div class="col-12 col-sm-12 col-md-6 pr-5" id="this_first_col">
        <img class="style_img" src="../img/img002.png">
      </div>

      <div class="col-12 col-sm-12 col-md-6 pl-5" id="this_secend_col">
        <h2>Education is in Our Blood</h2>
        <hr style="width: 15%;
  height:4px;
  border-width:0;
  margin-left: 0px;
  color: #09E1C0;
  background-color: #09E1C0;">
        <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie, velit ut eleifend sollicitudin, neque orci tempor nulla, id sagittis nisi ante nec arcu. Fusce porta bibendum convallis. Morbi fringilla sollicitudin scelerisque.</p><br>
        <button>View All Courses</button>
      </div>
      
    </div>
  </div>
</section>
  <!-- Therd section End HTML -->

<!--Secend section Stert HTML-->
<section class="section02">
  <div class="container-fluid">
    <div class="row"> 
      <div class="col-12 col-sm-12 col-md-4" id="this_first_col">
        <h2>Our Instructors</h2>
        <hr>
        <h4>Class aptent taciti sociosqu ad litora torquent per conubia nostra</h4><br>
        <p>Himenaeos. Sed molestie, velit ut eleifend sollicitudin, neque orci tempor nulla, id sagittis nisi ante nec arcu. Fusce porta bibendum convallis. Morbi fringilla sollicitudin scelerisque. In pellentesque</p><br>
        <button type="button" onclick="">view all courses</button>
      </div>
      <div class="col-12 col-sm-12 col-md-4" id="this_secend_col">
        <div class="row">
          <div class="col-3 col-sm-3 col-md-3">

          </div>
          <div class="col-9 col-sm-9 col-md-9">
            <h2>Casey Andrews</h2>
            <p>Javascript</p>
          </div>
        </div>
        <div class="row">
          <div class="col-3 col-sm-3 col-md-3">
          </div>
          <div class="col-9 col-sm-9 col-md-9">
            <h2>Celine Marie</h2>
            <p>Web Apps</p>
          </div>
        </div>
        <div class="row">
          <div class="col-3 col-sm-3 col-md-3">
          </div>
          <div class="col-9 col-sm-9 col-md-9">
            <h2>Jennifer Holand</h2>
            <p>Html / CSS</p>
          </div>
        </div>
      </div> 
      <div class="col-12 col-sm-12 col-md-4" id="this_secend_col">
        <div class="row">
          <div class="col-3 col-sm-3 col-md-3">
          </div>
          <div class="col-9 col-sm-9 col-md-9">
            <h2>Timothy Heiden</h2>
            <p>Python</p>
          </div>
        </div>
        <div class="row">
          <div class="col-3 col-sm-3 col-md-3">
          </div>
          <div class="col-9 col-sm-9 col-md-9">
            <h2>Cathy Waller</h2>
            <p>Apps & Games</p>
          </div>
        </div>
        <div class="row">
          <div class="col-3 col-sm-3 col-md-3">
            
          </div>
          <div class="col-9 col-sm-9 col-md-9">
          <h2>Paul Smith</h2>
            <p>PHP</p>
          </div>
        </div>
      </div> 
    </div>
  </div>
</section>
  <!-- Secend section End HTML -->
  <!--Thred section Stert HTML-->
  <section class="section03">
  <div class="container-fluid">
    <div class="row"> 
      <div class="col-12 col-sm-12 col-md-6" id="this_first_col">
        <h2>Get In Touch with Us</h2>
        <p>Adress :    Saleh Villa,Road # 01 (Beside Hotel Well Park),House #14,O.R Nizam R/A,GEC Moor, Chiittagong,Bangladesh</p>
        <p>Mobile : 01730-700920</p>
        <p>Email  : wellupengineering@gmail.com</p>
      </div>
      <div class="col-12 col-sm-12 col-md-6">
        <img class="style_img" src="../img/about-isometric-05.png">
      </div>
    </div>
  </div>
</section>
<!--Thred section end HTML-->
  <!--footer section Stert HTML-->
<section class="section04">
  <div class="container-fluid">
    <div class="row" id="this_Frist_row">
    <div class="col-12 col-sm-12 col-md-6" id="this_Frist_col">
       <div class="row" id="icon_box">
          <div class="col-3 col-sm-3 col-md-3">
            <img class="icon_img" src="../img/icon_02.jpg">
          </div>
          <div class="col-9 col-sm-9 col-md-9">
            <h2>Free Courses</h2>
            <p>Duis egestas aliquet aliquet. Maecenas erat eros, fringilla et leo eget, viverra pretium nulla.</p>
          </div>
        </div>
      </div>
      <!-- <div class="col-0 col-sm-0 col-md-1"></div>  -->
      <div class="col-12 col-sm-12 col-md-6" id="this_secend_col" >
         <div class="row" id="icon_box">
          <div class="col-3 col-sm-3 col-md-3">
            <img class="icon_img" src="../img/icon_01.jpg">
          </div>
          <div class="col-9 col-sm-9 col-md-9">
            <h2>Premium Courses</h2>
            <p>Duis egestas aliquet aliquet. Maecenas erat eros, fringilla et leo eget, viverra pretium nulla.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="this_secend_row">
      <div class="col-12 col-sm-4 col-md-6">
        <h2>Ready to get started?</h2><br>
        <h3>Get in touch, or create an account</h3>
      </div>
      <div class="col-12 col-sm-4 col-md-3" id="this_secend_col">
        <button>Create Account</button>
      </div>
      <div class="col-12 col-sm-4 col-md-3" id="this_therd_col">
        <button>Contact Us</button>
      </div>
    </div>
  </div>
</section>

  <!-- footer section End HTML -->

</body>
  <script src="../js/style.js"></script>
  <script src="../js/jquery.slim.min.js"></script>
  <script src="../js/popper.min.js"></script>
  <script src="../js/bundle.min.js"></script>
</html>
