<!DOCTYPE html>
<html lang="en">
<head>
  <title>wellupwebpage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="../style/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<header>
  <h2>Well_Up Engineers</h2>
  <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="courses.html">Courses</a></li>
    <li><a href="about.html">About</a></li>
    <li><a href="contact.html">Contact</a></li>

    <li style="float: right; padding-right: 30px;margin-top: 0px;padding-top: 0px;"><a href="contact.html"><i class="fa fa-facebook-f"></i> </a></li>
    <li style="float: right; padding-right: 5px;margin-top: 0px;padding-top: 0px;"><a href="contact.html"><i class="fa fa-instagram"></i> </a></li>
    <li style="float: right; padding-right: 5px;margin-top: 0px;padding-top: 0px;"><a href="contact.html"><i class="fa fa-linkedin"></i> </a></li>
    <li style="float: right; padding-right: 5px;margin-top: 0px;padding-top: 0px;"><a href="contact.html"><i class="fa fa-twitter"></i> </a></li>

  </ul>

</header>
<!--First section Stert HTML-->
  <section class="section01">
  <div class="container-fluid">
    <div class="row"> 
      <div class="col-12 col-sm-12 col-md-6" id="this_first_col">
        <h2>A better way to learn to code websites, apps, and games</h2>
        <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie, velit ut eleifend sollicitudin, neque orci tempor nulla, id sagittis nisi ante nec arcu.</p><br>
        <button>VIEW ALL COURSES</button>
      </div>
      <div class="col-12 col-sm-12 col-md-6">
        <img class="style_img" src="../img/img001.png">
      </div>
    </div>
  </div>
</section>
</div>
  <!-- First section End HTML -->

<!--Secend section Stert HTML-->
<section class="section02">
  <div class="container-fluid">
    <div class="row"> 
      <div class="col-12 col-sm-12 col-md-4" id="this_first_col">
        <h2>100’s of Courses</h2>
        <hr>
        <h4>Class aptent taciti sociosqu ad litora torquent per conubia nostra</h4><br>
        <p>Himenaeos. Sed molestie, velit ut eleifend sollicitudin, neque orci tempor nulla, id sagittis nisi ante nec arcu. Fusce porta bibendum convallis. Morbi fringilla sollicitudin scelerisque. In pellentesque</p><br>
        <button type="button" onclick="">view all courses</button>
      </div>
      <div class="col-12 col-sm-12 col-md-4" id="this_secend_col">
        <div class="row">
          <div class="col-3 col-sm-3 col-md-3">
            <img class="icon_img" src="../img/icon_01.jpg">
          </div>
          <div class="col-9 col-sm-9 col-md-9">
            <h2>Web Development</h2>
            <p>Duis egestas aliquet aliquet. Maecenas erat eros, fringilla et leo eget, viverra pretium nulla.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-3 col-sm-3 col-md-3">
            <img class="icon_img" src="../img/icon_02.jpg">
          </div>
          <div class="col-9 col-sm-9 col-md-9">
            <h2>Python</h2>
            <p>Duis egestas aliquet aliquet. Maecenas erat eros, fringilla et leo eget, viverra pretium nulla.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-3 col-sm-3 col-md-3">
            <img class="icon_img" src="../img/icon_03.jpg">
          </div>
          <div class="col-9 col-sm-9 col-md-9">
            <h2>UX Design</h2>
            <p>Duis egestas aliquet aliquet. Maecenas erat eros, fringilla et leo eget, viverra pretium nulla.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-3 col-sm-3 col-md-3">
            <img class="icon_img" src="../img/icon_04.jpg">
          </div>
          <div class="col-9 col-sm-9 col-md-9">
            <h2>HTML & CSS</h2>
            <p>Duis egestas aliquet aliquet. Maecenas erat eros, fringilla et leo eget, viverra pretium nulla.</p>
          </div>
        </div>
      </div> 
      <div class="col-12 col-sm-12 col-md-4" id="this_secend_col">
        <div class="row">
          <div class="col-3 col-sm-3 col-md-3">
            <img class="icon_img" src="../img/icon_05.jpg">
          </div>
          <div class="col-9 col-sm-9 col-md-9">
            <h2>Database Design</h2>
            <p>Duis egestas aliquet aliquet. Maecenas erat eros, fringilla et leo eget, viverra pretium nulla.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-3 col-sm-3 col-md-3">
            <img class="icon_img" src="../img/icon_06.jpg">
          </div>
          <div class="col-9 col-sm-9 col-md-9">
          <h2>Javascript</h2>
            <p>Duis egestas aliquet aliquet. Maecenas erat eros, fringilla et leo eget, viverra pretium nulla.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-3 col-sm-3 col-md-3">
            <img class="icon_img" src="../img/icon_07.jpg">
          </div>
          <div class="col-9 col-sm-9 col-md-9">
            <h2>HTML & CSS</h2>
            <p>Duis egestas aliquet aliquet. Maecenas erat eros, fringilla et leo eget, viverra pretium nulla.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-3 col-sm-3 col-md-3">
            <img class="icon_img" src="../img/icon_08.jpg">
          </div>
          <div class="col-9 col-sm-9 col-md-9">
            <h2>Apps & Games</h2>
            <p>Duis egestas aliquet aliquet. Maecenas erat eros, fringilla et leo eget, viverra pretium nulla.</p>
          </div>
        </div>
      </div> 
    </div>
  </div>
</section>
  <!-- Secend section End HTML -->
   <!--Therd section Stert HTML-->
<section class="section03" class="">
  <div class="container-fluid">
    <div class="row">
    <div class="col-12 col-sm-12 col-md-6">
        <img class="style_img" src="../img/img002.png">
      </div> 
      <div class="col-12 col-sm-12 col-md-6" id="this_first_col">
        <h2>Easy As 1…2…3…</h2>
        <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie, velit ut eleifend sollicitudin, neque orci tempor nulla, id sagittis nisi ante nec arcu. Fusce porta bibendum convallis. Morbi fringilla sollicitudin scelerisque.</p><br>
        <button>Start a Free Trial</button>
      </div>
      
    </div>
  </div>
</section>
  <!-- Therd section End HTML -->


   <!--footer section Stert HTML-->
<section class="section04">
  <div class="container-fluid">
    <div class="row" id="this_Frist_row">
    <div class="col-12 col-sm-12 col-md-6" id="this_Frist_col">
       <div class="row" id="icon_box">
          <div class="col-3 col-sm-3 col-md-3">
            <img class="icon_img" src="../img/icon_01.jpg">
          </div>
          <div class="col-9 col-sm-9 col-md-9">
            <h2>Free Courses</h2>
            <p>Duis egestas aliquet aliquet. Maecenas erat eros, fringilla et leo eget, viverra pretium nulla.</p>
          </div>
        </div>
      </div>
      <!-- <div class="col-0 col-sm-0 col-md-1"></div>  -->
      <div class="col-12 col-sm-12 col-md-6" id="this_secend_col" >
         <div class="row" id="icon_box">
          <div class="col-3 col-sm-3 col-md-3">
            <img class="icon_img" src="../img/icon_01.jpg">
          </div>
          <div class="col-9 col-sm-9 col-md-9">
            <h2>Premium Courses</h2>
            <p>Duis egestas aliquet aliquet. Maecenas erat eros, fringilla et leo eget, viverra pretium nulla.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="this_secend_row">
      <div class="col-12 col-sm-4 col-md-6">
        <h2>Ready to get started?</h2><br>
        <h3>Get in touch, or create an account</h3>
      </div>
      <div class="col-12 col-sm-4 col-md-3" id="this_secend_col">
        <button>Create Account</button>
      </div>
      <div class="col-12 col-sm-4 col-md-3" id="this_therd_col">
        <button>Contact Us</button>
      </div>
    </div>
  </div>
</section>

  <!-- footer section End HTML -->

</body>
  <script src="../js/style.js"></script>
  <script src="../js/jquery.slim.min.js"></script>
  <script src="../js/popper.min.js"></script>
  <script src="../js/bundle.min.js"></script>
</html>
